<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img src="/img/1.png" alt="" width="50">
<ul>
    <li><a href="?a=users">Пользователи</a></li>
    <li><a href="?a=user">Пользователь</a></li>
    <li><a href="?a=insert">Добавить пользователя</a></li>
</ul>
<div class="content">{{ content|raw }}</div>
</body>
</html>